@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.box-element-all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.box-element {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    gap: 50px;
}

.a-element-btn{
    position: relative;
    background: white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5 em;
    letter-spacing: 0.1 em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.a-element-btn:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

.a-element-btn::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;

}

.a-element-btn span {
    position: relative;
    z-index: 1;
}

.a-element-btn i {
    position: absolute;
    inset: 0;
    display: block;
}

.a-element-btn i::before {
   content: "";
   position: absolute;
   top: 0;
   left: 80%;
   width: 10px;
   height: 4px;
   background: black;
   transform: translate(-50%) skew(325deg);
   transition: 0.5s;
}


.a-element-btn:hover i::before {
    width: 20px;
    left: 20%;
}



.a-element-btn i::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 20%;
   width: 10px;
   height: 4px;
   background: black;
   transform: translate(-50%) skew(325deg);
   transition: 0.5s;
}


.a-element-btn:hover i::after {
    width: 20px;
    left: 80%;
}